[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
pyspark = "*"
dataclasses = "*"
pydantic = "*"
numpy = "*"
configargparse = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*" # https://coverage.readthedocs.io
pre-commit = "*"
mypy = "*"
flake8 = "*"
autoflake = "*"
black = "*"
pylint = "*"

[pipenv]
allow_prereleases = true
#[scripts]
